@use "../base/variables" as v;
@use "../base/mixins" as m;

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}
.Section {
  position: relative;
  width: 100%;
  height: 80vh;
  top: 0;
  z-index: 1;
  @include m.tablet {
    height: 94vh;
  }
  &-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    @include m.tablet {
      height: 94vh;
    }
  }
  &-div {
    width: 7rem;
    position: relative;
    top: 80%;
    background-image: url("../../../public/assets/botonicon.png");
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    z-index: 2;
  }
  &-btn {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.Membresias {
  position: relative;
  background-image: url(../../../public/assets/fondotarjetas-scaled.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px -13px 39px 9px rgba(0, 0, 0, 0.92) inset;
  @include m.flex(column nowrap, center, center, 1rem);
  text-align: center;
  &-background--color {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
  }
  &-h2 {
    font-size: 2.4rem;
    color: white;
    text-transform: uppercase;
    @include m.tablet {
      font-size: 2.5rem;
    }
  }
  &-global {
    padding: 1rem;

    @include m.flex(column nowrap, center, center, 1rem);
    @include m.tablet {
      @include m.flex(row wrap, center, center, 1rem);
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &-card {
    background-position: center;
    object-fit: cover;
    text-align: center;
    max-width: 35rem;

    @include m.flex(column nowrap, center, center, 0.5rem);
    width: 100%;
    height: 20rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.5);
  }
  &-card--big {
    height: 24rem;
    background-position: initial;

    // @include m.flex(column nowrap, center, center, 1rem);
  }
  &-title {
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    @include m.tablet {
      font-size: 2rem;
    }
  }
  &-title--big {
    color: black;
  }
  &-span {
    color: white;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  &-span--big {
    color: black;
  }
  &-precio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1rem;
  }

  &-precio--icon {
    color: white;
    font-size: 2rem;
  }
  &-precio--iconBlack {
    color: black;
  }
  &-dinero {
    color: white;
    font-size: 3rem;
  }
  &-dinero--big {
    color: black;
  }
  &-btn {
    color: white;
    border: solid 2px v.$colorBordesCards;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease-in-out 0.5s;
    &:hover {
      background-color: v.$colorBordesCards;
      color: black;
    }
  }
  &-btn--big {
    color: black;
  }
  &-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
  }
}
.Ubicacion {
  width: 100%;

  background-repeat: initial;
  background-position: center;
  object-fit: cover;
  box-shadow: 0px -13px 39px 9px rgba(0, 0, 0, 0.92) inset;
  &-global {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.575);
    @include m.tablet {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &-global--mod {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    @include m.tablet {
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }
  &-cards {
    max-width: 40rem;
    text-align: center;
    padding: 1rem;
  }
  &-h2 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 2rem;
    @include m.tablet {
      font-size: 2.5rem;
    }
  }
  &-cards--subcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 20rem;
  }
  &-icon {
    width: 2rem;
    fill: white;
    @include m.tablet {
      width: 2rem;
    }
  }
  &-span {
    width: 50%;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    @include m.tablet {
      font-size: 1.2rem;
    }
  }
}
.Empresas {
  background-color: black;
  &-global {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem 2rem 1rem;
  }
  &-img {
    opacity: 0.5;
    width: 5rem;
    transition: 0.5s;
    @include m.tablet {
      width: 10rem;

      &:hover {
        opacity: 1;
        width: 9rem;
      }
    }
  }
  &-img:hover {
    opacity: 1;
  }
}
