@use "../base/variables" as v;
@use "../base/mixins" as m;

.Section {
  height: 80vh;
  position: relative;
  width: 100%;
  top: 0;
  z-index: -1;
  &-video {
    position: absolute;
    width: 100%;
  }
  &-div {
    width: 7rem;
    position: relative;
    background-image: url("../../../public/assets/botonicon.png");
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 90%;
    padding: 1rem;
    border-radius: 2rem;
  }
  &-btn {
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
}
