@use "../base/variables" as v;
@use "../base/mixins" as m;
.Header {
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 2;

  &-global {
    background-color: v.$colorNegroFondo;
    position: relative;
    top: 0;
    z-index: 2;
    border-left: 2px solid v.$colorBordes;
    border-bottom: 2px solid v.$colorBordes;
    border-right: 2px solid v.$colorBordes;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem;
    width: 90%;
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    @include m.tablet {
      justify-content: space-between;
    }
  }
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  &-icon {
    width: 5rem;
    fill: white;
    cursor: pointer;
  }
  &-icon--menu {
    width: 2.5rem;
    fill: white;
    cursor: pointer;
    @include m.tablet {
      display: none;
    }
  }
}

.Nav {
  background-color: v.$colorNegroFondo;
  padding: 1rem;
  position: fixed;
  right: -100%;
  top: 0;
  width: 70vw;
  height: 97vh;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  transition: ease-in-out 1s;
  @include m.tablet {
    border-radius: 0;
    background-color: red;
    position: relative;
    width: 70%;
    height: auto;
    right: 0;
  }
  &--show {
    right: 0;
  }
  &-icon--close {
    width: 3rem;
    fill: white;
    position: absolute;
    right: 1rem;
    cursor: pointer;
    @include m.tablet {
      display: none;
    }
  }
  &-ul {
    padding: 0;
    margin-top: 4rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    overflow: hidden;
    @include m.tablet {
      margin-top: 0;
      flex-flow: row nowrap;
      margin-bottom: 0;
    }
  }
  &-li {
    color: white;
    border-bottom: solid 1px v.$colorBordes;
    list-style: none;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
    font-weight: bolder;
    @include m.tablet {
      width: auto;
      border-bottom: none;
      padding-left: 0;
      padding-bottom: 0;
      font-size: 0.9rem;
    }
  }
  &-subcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 55%;
    padding-left: 1rem;
    @include m.tablet {
      display: none;
    }
  }
  &-info {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
  }
  &-span {
    color: white;
  }
  &-span--title {
    font-size: 1.2rem;
    color: white;
    font-weight: bolder;
  }
  &-link {
    text-align: center;
    border: 2px solid v.$colorBordes;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    width: 6rem;
    text-decoration: none;
    color: white;
  }
}
