.Header {
  top: 0;
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 2;
}
.Header-global {
  background-color: rgba(3, 1, 1, 0.8235294118);
  position: relative;
  top: 0;
  z-index: 2;
  border-left: 2px solid #c0a585;
  border-bottom: 2px solid #c0a585;
  border-right: 2px solid #c0a585;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 1rem;
  width: 90%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 770px) {
  .Header-global {
    justify-content: space-between;
  }
}
.Header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 770px) {
  .Header-container {
    width: auto;
  }
}
.Header-icon {
  width: 5rem;
  fill: white;
  cursor: pointer;
}
@media screen and (min-width: 770px) {
  .Header-icon {
    width: 6rem;
  }
}
.Header-icon--menu {
  width: 2.5rem;
  fill: white;
  cursor: pointer;
}
@media screen and (min-width: 770px) {
  .Header-icon--menu {
    display: none;
  }
}

.Nav {
  background-color: rgba(3, 1, 1, 0.8235294118);
  padding: 1rem;
  position: fixed;
  right: -100%;
  top: 0;
  width: 70vw;
  height: 97vh;
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
  transition: ease-in-out 1s;
}
@media screen and (min-width: 770px) {
  .Nav {
    background-color: transparent;
    border-radius: 0;
    position: relative;
    width: auto;
    height: auto;
    right: 0;
  }
}
.Nav--show {
  right: 0;
}
.Nav-link--menu {
  color: white;
  text-decoration: none;
}
.Nav-icon--close {
  width: 3rem;
  fill: white;
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
@media screen and (min-width: 770px) {
  .Nav-icon--close {
    display: none;
  }
}
.Nav-ul {
  padding: 0;
  margin-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  overflow: hidden;
}
@media screen and (min-width: 770px) {
  .Nav-ul {
    margin-top: 0;
    flex-flow: row nowrap;
    margin-bottom: 0;
  }
}
.Nav-li {
  color: white;
  border-bottom: solid 1px #c0a585;
  list-style: none;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  padding-left: 1rem;
  padding-bottom: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
@media screen and (min-width: 770px) {
  .Nav-li {
    width: auto;
    border-bottom: none;
    padding-left: 0;
    padding-bottom: 0;
    font-size: 0.8rem;
  }
}
.Nav-subcontainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 55%;
  padding-left: 1rem;
}
@media screen and (min-width: 770px) {
  .Nav-subcontainer {
    display: none;
  }
}
.Nav-info {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}
.Nav-span {
  color: white;
}
.Nav-span--title {
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
}
.Nav-link {
  text-align: center;
  border: 2px solid #c0a585;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  width: 6rem;
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.Section {
  position: relative;
  width: 100%;
  height: 80vh;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 770px) {
  .Section {
    height: 94vh;
  }
}
.Section-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
@media screen and (min-width: 770px) {
  .Section-video {
    height: 94vh;
  }
}
.Section-div {
  width: 7rem;
  position: relative;
  top: 80%;
  background-image: url("../../../public/assets/botonicon.png");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 2;
}
.Section-btn {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Membresias {
  position: relative;
  background-image: url(../../../public/assets/fondotarjetas-scaled.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px -13px 39px 9px rgba(0, 0, 0, 0.92) inset;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.Membresias-background--color {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}
.Membresias-h2 {
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
}
@media screen and (min-width: 770px) {
  .Membresias-h2 {
    font-size: 2.5rem;
  }
}
.Membresias-global {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 770px) {
  .Membresias-global {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.Membresias-card {
  background-size: cover;
  text-align: center;
  max-width: 32rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.5);
}
.Membresias-card--big {
  height: 24rem;
  background-size: cover;
}
.Membresias-title {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
}
@media screen and (min-width: 770px) {
  .Membresias-title {
    font-size: 2rem;
  }
}
.Membresias-title--big {
  color: black;
}
.Membresias-span {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.Membresias-span--big {
  color: black;
}
.Membresias-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.Membresias-precio--icon {
  color: white;
  font-size: 2rem;
}
.Membresias-precio--iconBlack {
  color: black;
}
.Membresias-dinero {
  color: white;
  font-size: 3rem;
}
.Membresias-dinero--big {
  color: black;
}
.Membresias-btn {
  color: white;
  border: solid 2px #ffda0c;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: ease-in-out 0.5s;
}
.Membresias-btn:hover {
  background-color: #ffda0c;
  color: black;
}
.Membresias-btn--big {
  color: black;
}
.Membresias-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

.Ubicacion {
  width: 100%;
  background-size: cover;
  box-shadow: 0px -13px 39px 9px rgba(0, 0, 0, 0.92) inset;
}
.Ubicacion-global {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.575);
}
@media screen and (min-width: 770px) {
  .Ubicacion-global {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.Ubicacion-global--mod {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media screen and (min-width: 770px) {
  .Ubicacion-global--mod {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
.Ubicacion-cards {
  max-width: 40rem;
  text-align: center;
  padding: 1rem;
}
@media screen and (min-width: 770px) {
  .Ubicacion-cards {
    max-width: 45rem;
  }
}
.Ubicacion-h2 {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}
@media screen and (min-width: 770px) {
  .Ubicacion-h2 {
    font-size: 2.5rem;
  }
}
.Ubicacion-cards--subcontainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 20rem;
}
.Ubicacion-icon {
  width: 2rem;
  fill: white;
}
@media screen and (min-width: 770px) {
  .Ubicacion-icon {
    width: 2rem;
  }
}
.Ubicacion-span {
  width: 50%;
  color: white;
  font-size: 1rem;
  text-decoration: none;
}
@media screen and (min-width: 770px) {
  .Ubicacion-span {
    width: 80%;
    font-size: 1.2rem;
  }
}

.Empresas {
  background-color: black;
}
.Empresas-global {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 1rem 2rem 1rem;
}
.Empresas-img {
  opacity: 0.5;
  width: 5rem;
  transition: 0.5s;
}
@media screen and (min-width: 770px) {
  .Empresas-img {
    width: 10rem;
  }
  .Empresas-img:hover {
    opacity: 1;
    width: 9rem;
  }
}
.Empresas-img:hover {
  opacity: 1;
}

.Footer {
  width: 100%;
  background-color: black;
}
.Footer-global {
  display: flex;
  flex-flow: column nowrap;
}
.Footer-ul {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  padding: 0;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 770px) {
  .Footer-ul {
    flex-flow: row nowrap;
    gap: 4rem;
  }
}
.Footer-link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
.Footer-copy {
  width: auto;
  background-color: yellow;
  padding: 1rem;
  overflow-wrap: normal;
  text-align: center;
}
.Footer-span {
  width: 100%;
  color: black;
  font-size: 0.8rem;
}

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.Golden {
  background-color: black;
}
.Golden-h2 {
  color: white;
  width: 100%;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.Golden-global {
  padding: 6rem 1rem 1rem 1rem;
  text-align: center;
}
.Golden-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
@media screen and (min-width: 770px) {
  .Golden-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1250px) {
  .Golden-div {
    grid-template-columns: repeat(6, 1fr);
  }
}
.Golden-cards {
  width: 100%;
}
.Golden-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.Golden-img:hover {
  opacity: 0.5;
}
.Golden-show {
  background-color: rgba(0, 0, 0, 0.884);
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  transition: 1s all ease-in-out;
}
.Golden-btns {
  padding-top: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
.Golden-btn {
  width: 2rem;
  fill: white;
  cursor: pointer;
}
.Golden-box {
  margin-top: 8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1250px) {
  .Golden-box {
    margin-top: 5rem;
  }
}
.Golden-img--selected {
  object-fit: cover;
  width: 21rem;
  height: auto;
}
@media screen and (min-width: 770px) {
  .Golden-img--selected {
    width: 28rem;
    height: auto;
  }
}
@media screen and (min-width: 1250px) {
  .Golden-img--selected {
    width: 30rem;
    height: auto;
  }
}
.Golden-show--open {
  right: 0;
}
.Golden-btn--hidden {
  display: none;
}
.Golden-count {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.Golden-counter {
  font-size: 1.5rem;
  color: white;
}
.Golden-img--modified {
  height: 33.0706rem;
}

.wrapper {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
}

.Contact {
  background-image: url("../../../public/assets/backgroundcontact.jpg");
  background-size: cover;
  width: 100%;
}
.Contact-global {
  background-color: rgba(0, 0, 0, 0.171);
}
.Contact-article {
  padding: 8rem 1rem 1rem 1rem;
}
@media screen and (min-width: 770px) {
  .Contact-article {
    padding: 8rem 3rem 1rem 3rem;
  }
}
.Contact-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 770px) {
  .Contact-info {
    align-items: start;
    justify-content: start;
  }
}
.Contact-h2 {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: #ffda0c;
  margin: 0;
}
@media screen and (min-width: 770px) {
  .Contact-h2 {
    font-size: 2rem;
  }
}
.Contact-h3 {
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (min-width: 770px) {
  .Contact-h3 {
    font-size: 2.6rem;
  }
}
.Contact-span {
  font-size: 1.1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.Contact-form {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.Contact-input {
  width: 90%;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid white;
  padding: 0rem 0rem 1rem 1.5rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.1rem;
  outline: none;
}
@media screen and (min-width: 770px) {
  .Contact-input {
    width: 100%;
  }
}
.Contact-input--textarea {
  resize: vertical;
}
.Contact-error {
  color: rgb(184, 0, 0);
  width: 100%;
  text-align: left;
  margin: 0;
}
.Contact-button {
  background-color: transparent;
  border: solid 2px #ffda0c;
  padding: 1rem 2rem 1rem 2rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2rem;
  margin-bottom: 2rem;
  transition: 0.5s ease;
  cursor: pointer;
}
.Contact-button:hover {
  font-size: 1.2rem;
  background-color: #ffda0c;
  color: black;
}
.Contact-div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.Contact-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
@media screen and (min-width: 770px) {
  .Contact-card {
    flex-flow: row nowrap;
    justify-content: start;
  }
}
.Contact-icon {
  width: 2rem;
  fill: #ffda0c;
}
.Contact-a {
  color: white;
  text-decoration: none;
}
@media screen and (min-width: 770px) {
  .Contact-div--icons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=index.css.map */
