.Nav {
  width: 100%;
  position: fixed;
  z-index: 2;
}
.Nav-global {
  background-color: rgba(3, 1, 1, 0.8235294118);
  padding: 1rem;
  border-bottom: solid 2px #c0a585;
  border-left: solid 2px #c0a585;
  border-right: solid 2px #c0a585;
  border-bottom-right-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 770px) {
  .Nav-global {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}
.Nav-icon {
  width: 5rem;
  fill: white;
}
.Nav-icon--menu {
  width: 2rem;
  fill: white;
  cursor: pointer;
}
@media screen and (min-width: 770px) {
  .Nav-icon--menu {
    display: none;
  }
}
.Nav-icon--close {
  width: 2rem;
  fill: white;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
@media screen and (min-width: 770px) {
  .Nav-icon--close {
    display: none;
  }
}
.Nav-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  position: fixed;
  top: 0;
  right: -100%;
  width: 70vw;
  background-color: rgba(3, 1, 1, 0.8235294118);
  height: 100vh;
  border-top-left-radius: 1.4rem;
  border-bottom-left-radius: 1.4rem;
  z-index: 2;
  transition: ease-in-out 0.5s;
}
@media screen and (min-width: 770px) {
  .Nav-container {
    right: 0;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    top: -3rem;
  }
}
.Nav-ul {
  padding: 0 1rem 0rem 1rem;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
@media screen and (min-width: 770px) {
  .Nav-ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;
  }
}
.Nav-li {
  padding: 1rem 0.5rem;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  border-bottom: solid 1px white;
  width: 87%;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
}
@media screen and (min-width: 770px) {
  .Nav-li {
    border-bottom: none;
    width: auto;
  }
}
.Nav-subcontainer {
  width: 100%;
  height: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: start;
  gap: 0;
}
@media screen and (min-width: 770px) {
  .Nav-subcontainer {
    display: none;
  }
}
.Nav-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.Nav-span {
  color: white;
  font-size: 0.85rem;
}
.Nav-link {
  font-size: 0.8rem;
  color: white;
  border: solid 2px #c0a585;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 2rem;
}
.Nav-span--title {
  font-size: 1.2rem;
}
.Nav-container--show {
  right: 0;
}

.Section {
  position: relative;
  width: 100%;
  height: 80vh;
  top: 0;
  z-index: 1;
}
.Section-video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.Section-div {
  width: 7rem;
  position: relative;
  top: 80%;
  background-image: url("../../../public/assets/botonicon.png");
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  z-index: 2;
}
.Section-btn {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: bold;
}

.Membresias {
  position: relative;
  background-image: url(../../../public/assets/fondotarjetas-scaled.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px -13px 39px 9px rgba(0, 0, 0, 0.92) inset;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.Membresias-h2 {
  font-size: 2.4rem;
  color: white;
  text-transform: uppercase;
}
.Membresias-card {
  background-position: start;
  object-fit: cover;
  text-align: center;
  max-width: 49rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  box-shadow: 2px 2px 10px 6px rgba(0, 0, 0, 0.5);
}
.Membresias-card--big {
  height: 24rem;
}
.Membresias-title {
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.Membresias-title--big {
  color: black;
}
.Membresias-span {
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.Membresias-span--big {
  color: black;
}
.Membresias-precio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.Membresias-precio--icon {
  color: white;
  font-size: 2rem;
}
.Membresias-precio--iconBlack {
  color: black;
}
.Membresias-dinero {
  color: white;
  font-size: 3rem;
}
.Membresias-dinero--big {
  color: black;
}
.Membresias-btn {
  color: white;
  border: solid 2px #ffda0c;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.Membresias-btn--big {
  color: black;
}
.Membresias-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/*# sourceMappingURL=index.css.map */
